body{
    background-color: #f2f2f2;
    margin :0px;
}


.main_wrapper {
    display: flex;
    width: content-box;
    background-color: #ffffff;
    max-width: 964px;
    margin: auto;
}

.header {
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    background-color:lavender ;
    flex-wrap: wrap;
}

.header .logo_home {
    /* display: flex; */
    background-color: azure ;
     margin-top: 30px;
    margin-left: 50px;
     height: 100px;
    width: 100px;
    border-radius: 10px 0px 0px 10px;
    border:solid;

}



.header .nav {
    background-color:    cadetblue ;
    border:solid;
    /* display: flex;  */
     width: 240px;
    height: 60px;
   /*  align-self: last;  */
    margin-left: auto;

}

.header  .filter-wrap {
    background-color: bisque;
    /* display: block; */
    width: 100%;
    height: 220px;
    /* align-self: self-start;
    vertical-align: auto; */
}


.link_hotel2 .thumb-wrap {
    height:150px;
    width:250px;
    margin: 30px;
    background-color: #4f95ff;
}

/*
.picto-wrap .link_hotel2  .thumb {

    height:150px;
    width:100px;
    background-color: #4f95ff;
}
*/

/*
.picto-wrap .link_hotel  img{
    object-fit: cover;
   height:100px;

}

*/






























